// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '_modules/variables';


body {
  font-family: 'Arimo', sans-serif;
}

.full-width {
  background-color: $light-gray;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  border-top: 1px solid $gray;
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  color: $red;
  font-size: 200%;
  padding: 20px;
}

h2 {
  font-size: 20px;
  padding: 12px;
}

p {
  padding-left: 10px;
}

.center {
  text-align: center;
}

.fa-btn {
  margin-right: 6px;
}

.form-horizontal .control-label {
  text-align: left;
}

#progress {
  background-color: $white-gray;
  height: 5px;
  margin-bottom: 20px;
  position: relative;
}

#progress-complete {
  background-color: $green;
  border: 0;
  height: 5px;
  min-width: 10px;
  position: absolute;
  transition: width .2s ease-in-out;
}

.prev {
  float: left;
}

.next {
  float: right;
}

#steps {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  // #steps li
  li {
    color: $gray-light;
    float: left;
    font-size: 24px;
    padding: 10px;

    // #steps li.current
    &.current {
      color: $black;
    }

    // #steps li span
    span {
      display: block;
      font-size: 11px;
    }
  }
}

.clickable {
  cursor: pointer;
}
